.header {
  display: flex;
  align-items: center;
  padding: var(--wrapper-padding-y) var(--wrapper-padding-x);
  background-color: var(--header-bg-color);
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: var(--text-color-light);
}