.app-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48px 102px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* .div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  grid-area: 3 / 1 / 4 / 2;
} */

.header {
  display: flex;
  align-items: center;
  padding: var(--wrapper-padding-y) var(--wrapper-padding-x);
  background-color: var(--header-bg-color);
}

.title {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  color: var(--text-color-light);
}
