.btn {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  border: none;
  border-radius: var(--wrapper-border-radius);
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  line-height: 1;
}

/* Размеры */
.btn--small {
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 400;
}

.btn--medium {
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 700;
}

.btn--large {
  padding: 12px 20px;
  font-size: 16px;
}

/* Варианты */
.btn--primary {
  background-color: var(--primary-color);
  color: var(--text-color-light);
}
.btn--primary:hover:not(.btn--disabled) {
  background-color: var(--primary-hover);
}

.btn--primary:active:not(.btn--disabled) {
  background-color: var(--primary-active);
}

.btn--outline {
  background-color: #fff;
  color: var(--text-color);
  border: 1.25px solid var(--border-outline-color);
}
.btn--outline:hover:not(.btn--disabled) {
  border: 1.25px solid var(--primary-hover);
  color: var(--primary-hover);
}
.btn--outline:active:not(.btn--disabled) {
  border: 1.25px solid var(--primary-active);
  color: var(--primary-active);
}

/* .btn--destructive {
  background-color: var(--error-color);
  color: #fff;
}
.btn--destructive:hover:not(.btn--disabled) {
  filter: brightness(0.9);
} */

/* Состояние disabled */
.btn--disabled,
.btn:disabled {
  background-color: var(--border-color);
  color: #999;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Опционально: добавляем фокус */
.btn:focus-visible {
  outline: 2px solid var(--primary-color);
  outline-offset: 2px;
}
