@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter_light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter_bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Основные цвета */
  --background-color: #ffffff; /* Белый фон */
  --header-bg-color: #1d3353; /* Темно-синий фон для заголовка */

  --text-color: #333333; /* Тёмно-серый текст для хорошей читаемости */
  --text-color-light: #ffffff; /* Белый текст для заголовка */
  --text-color-non-active: #7d88a1; /* Серый текст для неактивных элементов */

  /* Основной акцент (например, для кнопок, ссылок) */
  --primary-color: #007aff; /* Яркий синий (подобен iOS Blue) */
  --primary-hover: #005ecb; /* Темнее для hover-состояния */
  --primary-active: #004a99; /* Ещё темнее для активного состояния */

  /* Второстепенный акцент */
  --secondary-color: #34c759; /* Зелёный, хорошо подходит для успеха/подтверждения */
  --secondary-hover: #28a745;
  --secondary-active: #218838; /* Темнее для активного состояния */

  /* Дополнительные цвета */
  --border-color: #e0e0e0; /* Для разделителей, рамок */
  --border-outline-color: #bcc5d4; /* Синий для выделения элементов */
  --error-color: #ff3b30; /* Красный для ошибок */

  /* Дополнительная акцентная палитра */
  --accent-color: #ff9500; /* Оранжевый для акцентов, если понадобится */

  --wrapper-padding-x: 8px; /* Отступы для приложения */
  --wrapper-padding-y: 12px; /* Отступы для приложения */
  --wrapper-border-radius: 8px; /* Радиус скругления для приложения */

  --gap-element: 16px; /* Отступы между элементами */

  --font-family: "Inter";
}

html,
body {
  width: 350px;
  height: 450px;
  padding: 0;
  margin: 0;
  /* border: 8px solid var(--border-color); */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family), sans-serif;
  font-size: 14px;
  line-height: 1.45;
}

/* button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
} */

/* button:hover {
  background-color: var(--primary-hover);
} */

/* input,
select,
textarea {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
} */

/* .error-message {
  color: var(--error-color);
} */

/* Пример стилизации контейнеров или разделителей */
/* .divider {
  border-bottom: 1px solid var(--border-color);
  margin: 16px 0;
} */