.media-tabs-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--gap-element);
}

.tabs {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
}

.tab {
  flex: 1;
  padding: var(--wrapper-padding-y) 0;
  text-align: center;
  cursor: pointer;
  background-color: var(--background-color);
  border: none;
  outline: none;
  font-size: 16px;
  font-family: var(--font-family), sans-serif;
  font-weight: 700;
  border-bottom: 2px solid var(--border-color);
  transition: background-color 0.2s;
  color: var(--text-color-non-active);
}

.tab:hover {
  color: var(--primary-hover);
}

.tab:active {
  color: var(--primary-active);
}

.tab.active {
  color: var(--text-color);
  border-bottom: 2px solid var(--primary-color);
}

.media-tabs-btn {
  margin: 0 var(--wrapper-padding-x);
}